body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

/* HEADER */
header {
    background: #111;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo img {
    height: 40px;
}

/* AVATAR */
.profile-menu {
    position: relative;
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid white;
    transition: 0.2s;
}

.avatar:hover {
    transform: scale(1.1);
}

/* MENU */
.dropdown {
    position: absolute;
    right: 0;
    top: 55px;

    display: none;
    flex-direction: column;
    gap: 10px;

    background: #111;
    padding: 12px;
    border-radius: 12px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    min-width: 180px;
}

/* BOUTONS MENU */
.dropdown a {
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transition: 0.2s;
}

.dropdown a:first-child {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
}

.dropdown a:last-child {
    background: #222;
    color: white;
}

.dropdown a:hover {
    transform: scale(1.05);
}

/* CONTAINER */
.container {
    padding: 20px;
}

/* CARD */
.card {
    background: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;

    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-dark {
    background: #333;
    color: white;
}

.btn-discord {
    background: #5865F2;
    color: white;
}

.btn-gradient {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
}