.card {
    background: #111827;
    border-radius: 20px;
    padding: 25px;
    margin: 20px 0;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
    transform: scale(1);

    cursor: pointer;
    position: relative; /* important */
}

/* PC */
.card:hover {
    transform: scale(1.06);
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
    z-index: 10;
}

/* MOBILE */
.card.active {
    transform: scale(1.06);
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
    z-index: 10;
}